Comment parsing bug: incomplete parsing of comments

A comment containing whitespace will not be parsed completely.

```rust
fn main() {
    // this is an example ed25519 key generated for this issue with
    //   ssh-keygen -t ed25519 -a 100 -f issue_example -C "jrimbault's stuff"
    let key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGuu/zz89yZCqYOZ1Nrj/eSrLqLZyqg9iZL4iSntAOzf jrimbault's stuff";
    let key = openssh_keys::PublicKey::parse(key).unwrap();
    assert_eq!(key.comment, Some("jrimbault's"));
}
```

Is this intended behavior ?

It seems like this is coming from this section https://github.com/coreos/openssh-keys/blob/f82d3a6aba908b79bd5e649657f1d00c0eae9f59/src/lib.rs#L265-L278

I think either the remaining parts should be re-concatenated together, or you should do do 2 [`str::splice_once`](https://doc.rust-lang.org/stable/std/primitive.str.html#method.split_once) instead of 1 unconditional [`str::split_whitespace`](https://doc.rust-lang.org/stable/std/primitive.str.html#method.split_whitespace).

`split_whitepace` isn't appropriate for parsing in my opinion since it loses information.

Relevant RFC section: [RFC 4253 §4.2](https://datatracker.ietf.org/doc/html/rfc4253#section-4.2), notice the `comments` plural.